__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
bin/
include/
lib/
share/
pyvenv.cfg

dist/
build/
*.egg-info/
.installed.cfg
*.egg

htmlcov/
.tox/
.nosetpy
.pytest_cache/
.coverage
.coverage.*

.ipynb_checkpoints

.env
.flaskenv

.DS_Store
Thumbs.db